@font-face {
  font-family: "google-sans-flex";
  src: url("../fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.woff2")
    format("woff2");
}

@font-face {
  font-family: "playfair-display";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.woff2") format(woff2);
}

html {
  --main-background-color: #0d1c42;

  font-family:
    "google-sans-flex",
    "playfair-display",
    "roboto",
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system;

  background-color: var(--main-background-color);
}
